* {
    font-family: sans-serif;
}

body {
    background-color: #d4d4d4;
}

.headerinicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 10px 100px 10px 60px;
    background-color: #1b3544;

}

.imgheader {
    width: 5%;
}

.ulheader {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: aliceblue;
    font-size: 20px;
}

.liheader {
    margin: 0px 10px 0px 30px;

}


